.testimonial {
	display: flex;
	flex-direction: column;

	&__photo {
		& img {
			@extend %img;
		}
	}

	&__body {
		background: rgba(24, 24, 24, 1);
		padding: 2rem;
	}

	&__title {
		font-size: 2.2rem;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 1.5rem;
	}

	&__text {
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.21;
		margin-bottom: 2.5rem;
	}

	&__link {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.21;
		color: $mainWhite;

		& img {
			position: relative;
			width: 3rem;
			margin-left: 0.5rem;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			& img {
				animation: movement 3s linear 0s;
			}
		}

		@keyframes movement {
			0% {left: 0;}
			20% {left: 1rem;}
			40% {left: 2rem;}
			60% {left: 3rem;}
			80% {left: 4rem;}
			100% {left: 5rem;}
		}
	}

	@media (min-width: 485px) { 
		flex-direction: row;
		&:nth-child(2) {
			flex-direction: row-reverse;
		}
		&__photo {
			flex-shrink: 1;
		}
		&__body {
			flex-shrink: 2;
		}
		&__title {
			font-size: 3.2;
		}
	}

	@media ($desktop) {
		flex-direction: row;
		&__title {
			font-size: 4.4rem;
			margin-bottom: 3rem;
		}
		&__text {
			margin-bottom: 5rem;
		}
	}

	@media ($projector) { 
		&__photo {
			min-width: max-content;
		}
		&__body {
			flex-shrink: 1;
		}
	}
}
