// fonts
$mainFont: 'Inter', sans-serif;
$secondaryFont: 'Playfair Display', serif;

// colors
$mainBlack: #000000;
$mainWhite: #ffffff;
$paleWhite: rgba(187, 187, 187, 1);

// media-queries
$desktop: 'min-width: 769px';
$projector: 'min-width: 1400px';