.about {
	@include section();

	&__body {
		@extend %cnt;
	}

	&__title {
		@include h2();
		margin-bottom: 3rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__text {
		font-size: 2.6rem;
		font-weight: 400;
		line-height: 1.2;
		margin: 0 0 3rem 0;

		& p:first-child {
			margin-bottom: 2rem;
		}
	}

	&__img {
		margin: auto;
		& img {
			@extend %img;
		}
	}

	@media ($desktop) {
		@include section($mb: 34.2rem);
		&__title {
			margin-bottom: 7.1rem;
		}
		&__text {
			font-size: 4rem;
			margin: 0 0 7.1rem 0;
			& p:first-child {
				margin-bottom: 5.5rem;
			}
		}
	}

	@media ($projector) {
		&__content {
			flex-direction: row;
			align-items: center;
		}
		&__text {
			margin: 0 7.1rem 0 0;
		}
		&__img {
			min-width: max-content;
		}
	}
}
